a.button, button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  transition: all .2s ease-in;
  border: none;
  background-color: transparent;
  padding: 5px 20px;
}

a.button.white, button.white {
  border: 2px solid @white;
  color: @white;
}
a.button.blue, button.blue {
  border: 2px solid @darkBlue;
  color: @darkBlue;
}

a.button.blue:hover, button.blue:hover {
  background-color: @darkBlue;
  color: @white;
}

button.gradient-horizontal,  button.gradient-diagonal{
  position: relative;
  padding: 2px;
  .overlay {
    padding: 10px 30px;
    background-color: @white;
  }
}